{% extends 'base.html.twig' %}

{% block title %}Batiments index{% endblock %}

{% block body %}
    <h1>Batiments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Agence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for batiment in batiments %}
            <tr>
                <td>{{ batiment.id }}</td>
                <td>{{ batiment.adresse }}</td>
                <td>{{ batiment.agence }}</td>
                <td>
                    <a href="{{ path('app_batiments_show', {'id': batiment.id}) }}">show</a>
                    <a href="{{ path('app_batiments_edit', {'id': batiment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_batiments_new') }}">Create new</a>
{% endblock %}
